// ---------------------------------------------------------------
//  Base-Size
// ---------------------------------------------------------------
$base-size: 8;
$max-width: 1200px;
$breakpoint: 768px;

// ---------------------------------------------------------------
//  Font
// ---------------------------------------------------------------
$font-family-base: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-size-base: 14px;

// ---------------------------------------------------------------
//  Line-hieght
// ---------------------------------------------------------------
$line-height-base: 1.4;

// ---------------------------------------------------------------
//  Base-color
// ---------------------------------------------------------------
$base-color: #f9f9f9;
$base-color-white: #fff;
$base-color-text: #515151;
$base-color-border: #bcbcbc;
$base-color-link: #0bd;

// ---------------------------------------------------------------
//  Content-color
// ---------------------------------------------------------------
$default-color: #333;
$primary-color: #1e0404;
$secondary-color: #a38459;
$highlight-color: #f24b4b;
$info-color: #f2e04b;

//  Content-color default
// ---------------------------------------------------------------
$default-color-darken: darken($default-color, 30%);
$default-color-lighten-10: lighten($default-color, 10%);
$default-color-lighten-20: lighten($default-color, 20%);
$default-color-lighten-30: lighten($default-color, 30%);

//  Content-color primary
// ---------------------------------------------------------------
$primary-color-darken: darken($primary-color, 30%);
$primary-color-lighten-10: lighten($primary-color, 10%);
$primary-color-lighten-20: lighten($primary-color, 20%);
$primary-color-lighten-30: lighten($primary-color, 30%);

//  Content-color secondary
// ---------------------------------------------------------------
$secondary-color-darken: darken($secondary-color, 30%);
$secondary-color-lighten-10: lighten($secondary-color, 10%);
$secondary-color-lighten-20: lighten($secondary-color, 20%);
$secondary-color-lighten-30: lighten($secondary-color, 30%);

//  Content-color highlight
// ---------------------------------------------------------------
$highlight-color-darken: darken($highlight-color, 30%);
$highlight-color-lighten-10: lighten($highlight-color, 10%);
$highlight-color-lighten-20: lighten($highlight-color, 20%);
$highlight-color-lighten-30: lighten($highlight-color, 30%);

//  Content-color info
// ---------------------------------------------------------------
$info-color-darken: darken($info-color, 30%);
$info-color-lighten-10: lighten($info-color, 10%);
$info-color-lighten-20: lighten($info-color, 20%);
$info-color-lighten-30: lighten($info-color, 30%);

// ---------------------------------------------------------------
//  Margin
// ---------------------------------------------------------------
$margin-base: $base-size * 1px;

// ---------------------------------------------------------------
//  Grid
// ---------------------------------------------------------------
$var-breakpoint: $breakpoint;
