/*
#beadcrumb
*/
.c-breadcrumb {
  width: 100%;
  padding: $margin-base * 2 0 $margin-base * 3;
}

// Element
// --------------------
.c-breadcrumb__menu {
  max-width: $max-width;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  -webkit-flow: wrap;
  flex-wrap: wrap;
  list-style: none;
  align-items: baseline;
}

.c-breadcrumb__list {
  display: inline-block;
  padding-right: $margin-base;
  a {
    display: inline-block;
    padding-right: $margin-base;
  }
  &:after {
    content: "/";
    display: inline-block;
    padding: 0 $margin-base;
  }
}

// PC only
// --------------------
@media (min-width: $breakpoint) {
  .c-breadcrumb {
    padding: $margin-base * 2 0 $margin-base * 3;
  }
}
