/*
# btn
 */

$btn-default-bg: $base-color-text;
$btn-default-ov: lighten($base-color-text, 10%);
$btn-default-text-color: #fff;

.c-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 3rem;
  border: 0;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  padding: 0 2rem;

  @include responsive-font-size(16px);

  outline: none;
  position: relative;
  white-space: nowrap;
  background: $btn-default-bg;
  color: $btn-default-text-color;

  &:link,
  &:active,
  &:hover,
  &:visited {
    color: $btn-default-text-color;
    text-decoration: none;
  }

  &:hover {
    background: $btn-default-ov;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}

// Modifier - size
// --------------------

// Modifier - display
// --------------------
.c-btn--block {
  display: block;
  width: 100%;
}
