/*
# card
*/

$card-default-bg: $base-color-bg;

.c-card {
  display: block;
  background: $card-default-bg;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.c-card__content {
  padding: 1rem;
}
