/*
# grid
 */

.c-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  // grid-template-columns: 1fr 1fr 2fr;
  column-gap: $margin-base * 2;
  row-gap: $margin-base * 2;
}
