/*
#label
*/
.c-label {
  display: inline-block;
  padding: 0.25rem 1rem;
  background: $secondary-color;
  font-size: 1.2rem;
  margin-left: 0.25rem;

  @include border-radius(4);
}

// Modifier
// --------------------
.c-label--disable {
  background: $base-color-lighten;
}
