/*
#label
*/
.c-label {
  display: inline-block;
  padding: $margin-base / 2 $margin-base * 2;
  background: $secondary-color;
  font-size: 12px;
  margin-left: $margin-base / 2;

  @include border-radius(4);
}

// Modifier
// --------------------
.c-label--disable {
  background: $base-color-lighten;
}