/* link
--------------------------------------------------------- */
.c-link--white {
  color: $base-color-bg;

  &:link {
    color: $base-color-bg;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: darken($base-color-bg, 5%);
  }
}