/*
# media
*/

.c-media {
  display: table;
  width: 100%;
  position: relative;
}

// Element
// --------------------
.c-media__content {
  display: table-cell;
  vertical-align: middle;
  padding-right: $margin-base * 2;
}

.c-media__text__clmap {
  @include line-clamp(3);
}
