/*
# menu
 */
.c-menu {
  list-style: none;
}

// Modifier
// --------------------
.c-menu--border {
  border-top: solid 1px $default-color-lighten-20;

  .c-menu__item:last-child {
    border-bottom: solid 1px $default-color-lighten-20;
  }
}

// Element
// --------------------
.c-menu__item {
  border-bottom: solid 1px $default-color-lighten-20;
  position: relative;
  padding: 0.25rem;
  display: block;

  &:last-child {
    border: 0;
  }

  a {
    display: block;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    text-decoration: none;

    @include border-radius(4);

    &:hover {
      background: $base-color-bg;
    }
  }

  a.is-active {
    background: $primary-color;
    color: $base-color-bg;

    &:hover {
      background: lighten($primary-color, 10%);
    }
  }
}

.c-menu__item__icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -8px;
  color: $default-color-lighten-10;
}
