/*
# text
 */

.c-text--primary {
  color: $primary-color;
}

.c-text--secondary {
  color: $secondary-color;
}

.c-text--tertiary {
  color: #857272;
}

.c-text--highlight {
  color: $highlight-color;
}

.c-text--serif {
  font-family: 'Arapey', serif;
}