/*
#thumb
*/
.c-thumb {
  padding: $margin-base / 2;
  border: 2px solid $default-color-lighten-20;

  &:hover,
  &.is-active {
    background: $default-color;
    border-color: $default-color;
  }
}

// Modifier
// --------------------
.c-thumb--small,
.c-thumb--medium {
  padding: 2px;
  border: 1px solid $default-color-lighten-20;
}

.c-thumb--max-200 {
  max-width: 200px;
}