/*
# title
*/

.c-title {
  position: relative;
}

// Modifier
// --------------------
.c-title--primary {
  @include responsive-font-size(48px);
  font-weight: 700;
}

.c-title--secondary {
  @include responsive-font-size(32px);
  font-weight: 700;
}

// Element
// --------------------
.c-title__sub-text {
  color: $default-color-lighten-10;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: $margin-base * 2;
  font-weight: normal;
}
