<footer class="l-footer" role="contentinfo" id="footer">
  <div class="l-footer__inner">
    フッター
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
