// ---------------------------------------------------------------
//  box-shadow
//
// > usage
// > @include box-shadow(10px, 10px, 0px, 0px, #000);
//
// ---------------------------------------------------------------
@mixin box-shadow($horizontal: 10px, $vertical: 10px, $blur: 0, $shadow: 0, $color: #000){
  -webkit-box-shadow: $horizontal $vertical $blur $shadow $color;
  -moz-box-shadow: $horizontal $vertical $blur $shadow $color;
  box-shadow: $horizontal $vertical $blur $shadow $color;
} 