<!DOCTYPE html>
<html lang="ja">
    <%- include('common/_header', {rel_path:'./', name: 'top'}) %>

    ホゲホゲ

    <%- include('common/_footer', {rel_path:'./', name: 'top'}) %>
    
  </body>
</html>
