<!DOCTYPE html>
<html lang="ja">
  <%- include('common/_head', {rel_path:'./', name: 'top'}) %>
  <body>
    <%- include('common/_header', {rel_path:'./', name: 'top'}) %>
    <div class="l-wrapper">
      <div class="l-wrapper__inner">
        <div class="c-grid">
          <div class="c-card">
            <div class="c-thumb"><img src="./images/cross_talk_01_01.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
          <div class="c-card">
            <div class="c-thumb"><img src="./images/cross_talk_01_01.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
          <div class="c-card">
            <div class="c-thumb"><img src="./images/cross_talk_01_01.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('common/_footer', {rel_path:'./', name: 'top'}) %>
  </body>
</html>
