<!DOCTYPE html>
<html lang="ja">
  <%- include('common/_head', {rel_path:'./', name: 'top'}) %>
  <body>
    <%- include('common/_header', {rel_path:'./', name: 'top'}) %>
    <div class="l-wrapper">
      <div class="l-wrapper__inner">
        <div class="u-mb-64">
          <h2 class="c-title c-title--primary">breadcrumb</h2>
          <div class="c-breadcrumb">
            <ul class="c-breadcrumb__menu">
              <li class="c-breadcrumb__list">
                <a href="/">TOP</a>
              </li>
              <li class="c-breadcrumb__list">
                <a href="/">第一階層</a>
              </li>
              <li class="c-breadcrumb__list">
                <a href="/">第二階層</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="u-mb-64">
          <h2 class="c-title c-title--primary">button</h2>
          <p><button class="c-btn c-btn--small">ボタン</button></p>
          <p><button class="c-btn">ボタン</button></p>
          <p><button class="c-btn c-btn--large">ボタン</button></p>
          <p><button class="c-btn c-btn--block">ボタン</button></p>
        </div>

        <div class="u-mb-64">
          <h2>card</h2>
          <div class="c-grid">
            <div class="c-card">
              <div class="c-thumb"><img src="./images/other.jpg" alt="" /></div>
              <div class="c-card__content">
                吠えgホゲ
              </div>
            </div>
          </div>
        </div>
        <div class="c-form u-mb-64" style="width: 400px;">
          <h2>form</h2>
          <p><input type="text" name="text" placeholder="テキスト" /></p>
          <p><textarea rows="5"></textarea></p>
          <p class="c-form__select">
            <label>
              <select name="select" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </label>
          </p>
        </div>
        <div class="c-grid">
          <div class="c-card">
            <div class="c-thumb"><img src="./images/other.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
          <div class="c-card">
            <div class="c-thumb"><img src="./images/other.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
          <div class="c-card">
            <div class="c-thumb"><img src="./images/other.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
          <div class="c-card">
            <div class="c-thumb"><img src="./images/other.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
          <div class="c-card">
            <div class="c-thumb"><img src="./images/other.jpg" alt="" /></div>
            <div class="c-card__content">
              吠えgホゲ
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('common/_footer', {rel_path:'./', name: 'top'}) %>
  </body>
</html>
