/* footer
--------------------------------------------------------- */
.l-footer {
  background: $base-color-white !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flow: wrap;
  flex-wrap: wrap;
  height: 40px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  padding: 0 $margin-base * 2;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
}

.l-footer__inner {
  position: relative;
  width: 100%;
  max-width: $max-width;
}
