/* wrapper
--------------------------------------------------------- */
.l-wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flow: wrap;
  flex-wrap: wrap;
  min-height: 400px;
  width: 100%;
  padding: $margin-base * 9 $margin-base * 2;
}

.l-wrapper__inner {
  position: relative;
  width: 100%;
  max-width: $max-width;
}
